*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
}
//-----------------------------HOME PAGE
.home{
    height: 350px;
    width: 1380px;
    background-color: black;
    header{
        width: 1240px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 45px 0 0 160px;
        img{
            width: 140px;
            height: 20px;
        }
        .menyu1{
            width: 270px;
            height: 16px;
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    color: white;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 14px;
                    font-style: normal;
                }
            }
        }
        .menyu2{
            width: 140px;
            height: 16px;
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    color: white;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 14px;
                    font-style: normal;
                    color: #808080;
                }
            }
        }
    }
    h1{
        margin: 125px 0 0 520px;
        color: white;
        font-size: 65px;
        font-weight: 400;
        font-style: normal;
        line-height: 75px;
    }
    .p{
        width: 270px;
        height: 45px;
        margin: 30px 0 0 570px;
        p{
            color: white;
            text-align: center;
            font-style: normal;
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;
        }
    }
}
.planeta{
    width: 1380px;
    height: 1005px;
    background: url(./img/image\ 2.png ) no-repeat;
}
//-------------------------------ABOUT US
.about{
    width: 1380px;
    height: 1700px;
    display: flex;
    background: black;
    .rocet{
        width: 644px;
        height: 1718px;
        margin-top: -20px;
        background: url(./img/image-removebg-preview\ 1.png) no-repeat;
    }
    .info{
        width: 490px;
        height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 492px 40px 450px 150px;
        .inforocet{
            width: 100%;
            height: 350px;
            .h1{
                width: 178px;
                height: 70px;
                margin-top: 0;
                h1{
                    font-size: 26px;
                    font-weight: 700;
                    line-height: 140%;
                    font-style: normal;
                    color: white;
                }
            }
            .text{
                width: 490px;
                height: 240px;
                display: flex;
                justify-content: space-between;
                margin-top: 40px;
                .gabarit{
                    width: 158px;
                    height: 240px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    border: 1px solid black;
                    h4{
                        color: white;
                        font-size: 18px;
                        line-height: 179%;
                        font-weight: 400;
                        font-style: normal;
                    }
                }
                .status{
                    width: 215px;
                    height: 240px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h4{
                        color: white;
                        font-size: 18px;
                        line-height: 179%;
                        font-weight: 400;
                        font-style: normal;
                    }
                }
            }
        }
        .company{
            width: 490px;
            height: 260px;
            .unm{
                width: 174px;
                height: 70px;
                h1{
                    color: white;
                    font-size: 24px;
                    font-weight: 700;
                    font-style: normal;
                    line-height: 140%;
                }
            }
            .plorem{
                width: 490px;
                height: 150px;
                margin-top: 45px;
                p{
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 30px;
                    font-style: normal;
                    color: white;
                }
            }
        }
    }
}
//-----------------------------------Futer--
.futer{
    width: 1380px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    .futr{
        width: 545px;
        height: 280px;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        img{
            width: 140px;
            height: 17px;
        }
        .futrmenyu{
            width: 545px;
            height: 22px;
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                li{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 21px;
                    font-style: normal;
                    color: white;
                }
            }
        }
        p{
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            line-height: 21px;
            color: #808080;
        }
        button{
            width: 260px;
            height: 60px;
            border: 2px solid white;
            border-radius: 6px;
            background: black;
            a{
                text-decoration: none;
                color: white;
                text-align: center;
                line-height: 21px;
                font-size: 18px;
                font-weight: 400;
                font-style: normal;
            }
        }
    }
}